html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.game-in-progress-screen {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  flex-grow: 1;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.flex-container {
  display: flex;
  background-color:lightgray;
  flex-direction: column;
  flex-grow: 9;
}

.timer-bar {
  height: 5px;
  background-color: lightskyblue;
}

.remaining-time {
  font-size: 30px;
  flex-grow: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
