html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
}

#root {
  height: 100%;
}

.fillscreen {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar {
  width: 5em;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.settings-button {
  background-color: lightgrey;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pause-button {
  background-color:gray;
  display: flex;
  flex-grow: 9;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-animation-enter {
  opacity: 0.5;
}

.button-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.button-animation-exit {
  opacity: 0.5;
}

.button-animation-exit-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.flex-container {
  display: flex;
  background-color:lightgray;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  transition: flex-grow 400ms ease-in-out;
}

#settings {
  width: 100%;
  background-color: lightgray;
  height: 100%;
  line-height: 2em;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 400ms ease-in;
  z-index: 1;
}

#settings.slideIn {
  transform: translateX(0);
}

#settings.slideOut {
  transform: translateX(-100%)
}

#settings-form {
  padding-left: 7em;
  padding-top: 3em;
}

.timer-bar {
  height: 5px;
  background-color: gray;
}

.remaining-time {
  flex-grow: 1;
  display: flex;
  position: relative;
  z-index: 1;
}
.remaining-time-text {
  font-size: 30px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.remaining-time-pulse-darken {
  position: absolute;
  flex-grow: 1;
  display: flex;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 2;
}

@keyframes pulse {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.2;
  }
}
